[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/Tabular"]
	path = bundle/Tabular
	url = https://github.com/godlygeek/tabular.git
